.admin-movies-section {
  padding: 30px;
}

.moviecontainer {
  margin-bottom: 25px;
}

.movie-list-container {
  max-height: 400px; /* Set maximum height for the movie list container */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  border: 1px solid #ccc; /* Optional: Add border for visual separation */
}

.movie-list {
  width: 100%;
  border-collapse: collapse;
}

.movie-list th,
.movie-list td {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 2px;
  text-align: left;
  border-bottom: 1px solid #f2eaea;
  font-size: 1.2rem !important;
}

.movie-list th {
  background-color: #f2f2f2;
  font-size: 20px !important;
}

/* Optional: Style table rows and cells */
.movie-list tbody tr:hover {
  background-color: #f9f9f9;
}

.movie-list tbody td:last-child {
  /* Style the last column (Delete button) */
  color: red;
  cursor: pointer;
}
.delete-btn {
  padding: 6px 10px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.movie-list img {
  max-width: 100px;
  max-height: 150px;
  width: auto;
  height: auto;
}
.undo-btn {
  padding: 6px 10px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.undo-btn:hover {
  background-color: #cc0000;
}
