.form-container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="url"],
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-button-container {
  display: flex;
  justify-content: center;
}

.upload-button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px; /* Add margin between buttons */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.upload-button:hover {
  background-color: #0056b3;
}

.reset-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #dc3545; /* Red color for reset button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #c82333; /* Darker red color on hover */
}
.form-group select {
  width: calc(100% - 12px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.selected-genres {
  margin-bottom: 10px;
}

.selected-genres input {
  width: calc(100% - 12px);
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.selected-genres label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}
.genres {
  font-size: 20px;
}
