
.scrolled {
  background-color: black;
}
nav {
  position: sticky;
  top: 0;
  height: 6.5rem;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 0 4rem;
  align-items: center;
  transition: 0.3s ease-in-out;
  /* background-color: black; */
}
.nav .left {
  gap: 2rem;
}

.brand img {
  height: 4rem;
}
.links {
    list-style-type: none;
    gap: 2rem;
}
li a{
    color: white;
    text-decoration: none;
   
}
li a:hover{
background-color: rgb(165, 165, 236);
border-radius: 0.2rem;
font-size: 1.2rem;
}
.nav .right{
   gap: 1rem; 
}
.right button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.right button:focus{
    outline: none;
}
svg {
    color: #f34242;
    font-size: 1.2rem;
  }
  .search {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    padding-left: 0.5rem;
  }
.search button{
    background-color: transparent;
    border: none;
}
.search button:focus{
    outline:none;
}
.search button  svg {
    color: white;
    font-size: 1.2rem;
  }
  .searchButton {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    color: white;
  }
  .search button  input:focus{
    outline:none;
  }
  .show-search {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .show-search input{
    width: 100%;
          opacity: 1;
          visibility: visible;
          padding: 0.3rem;
  }