.payment-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.select-payment-method,
.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upi-option-label {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-buttons label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.payment-container .submit-button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: grey;
  color:#fff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 4%;
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.payment-container .submit-button:hover {
  background-color:  rgb(246, 87, 59);
 
}
.paymentPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  color: black;
  position: relative;
}
.paymentPage .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 85vh;
}

.paymentCard {
  text-align: center;
}
.paymentCard h5 {
  font-size: 1.2rem;
  font-weight: 400;
}
.paymentCard h1 {
  font-size: 3rem;
}
.paymentCard p {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2%;
  font-weight: 400;
}

.paymentCard .Next {
  padding: 12px 20px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  width: 300px;
  margin: 4% auto;
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.paymentCard .Next:hover {
  background-color: rgb(246, 87, 59);
}
